body {
   background-color:#efdabc;
   background-repeat:no-repeat;
   font-family: Century Gothic, Times Roman, sans-serif;

}

ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}


h1 {

font-family: Century Gothic, Times Roman, sans-serif; 
background: #600000 repeat-x bottom;
text-align: center;
margin: 0;
border: solid;
border-color: #A0A0A0;
color: #f0f0f0;
}