<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
        <servlet-name>gameservlet</servlet-name>
        <servlet-class>gamefinder.GameServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>gameservlet</servlet-name>
        <url-pattern>/gameservlet</url-pattern>
    </servlet-mapping>
  
  <servlet>
        <servlet-name>subscribe</servlet-name>
        <servlet-class>gamefinder.SubscriptionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>subscribe</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>

   <servlet>
   <servlet-name>MakeGame</servlet-name>
   <servlet-class>gamefinder.GameServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
   <servlet-name>MakeGame</servlet-name>
   <url-pattern>/makegame</url-pattern>
   </servlet-mapping>
 
   <servlet>
       <servlet-name>removegame</servlet-name>
       <servlet-class>gamefinder.RemoveGameServlet</servlet-class>
   </servlet>
  
   <servlet-mapping>
   <servlet-name>removegame</servlet-name>
   <url-pattern>/Removegame</url-pattern>
   </servlet-mapping>
   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

</web-app>
